.header {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;

    &-content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-filter {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.4);
      overflow: hidden;
    }
  }

  &-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;

    * {
      padding: 1rem 0;
    }

    &-subtitle {
      font-size: 2.4rem;
      font-family: 'Bebas Neue', cursive;
    }

    &-title {
      font-size: 3.8rem;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
    }

    &-quote {
      font-size: 1.8rem;
      font-style: italic;
    }

    &-button {
      border: 0.4rem solid $color-quarternary;
      border-radius: 3rem;
      padding: 1rem 2rem;
      font-size: 1.8rem;
      color: $color-quarternary;
      background-color: transparent;
      text-transform: uppercase;
      transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

      &:hover {
        background-color: $color-quarternary;
        color: white;
        cursor: pointer;
      }
    }
  }
}
